@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-white bg-black;
  }
}


.bg{
  background-image: url('/public/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}